extends ../layout

block content
 #rspt-main
  .rspt-narrow-content
    h2.rspt-heading.animate-box(data-animate-effect="fadeInLeft") 生活视频
    .row.row-bottom-padded-md
     each item in life_list
      .col-md-3.col-sm-6.col-padding.animate-box(data-animate-effect="fadeInLeft")
        .blog-entry
          a.blog-img(href="/lifechannel/detail/#{item._id}")
            img.img-responsive(src="#{item.life_poster}")
          .desc
            h3
              a(href="/lifechannel/detail/#{item._id}") #{item.title}
            span
              small #{item.author}
              small
                i.icon-comment 14
            p #{item.introduction}
            a.lead(href="/lifechannel/detail/#{item._id}") Read More
              i.icon-arrow-right3
